html, body, #root {
    height: 100%;
  }

.Logo{
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 40vh; 
    padding-left: 5vh;
    margin-bottom: 5vh;
}
  
.resetContainer{
    text-align: center;
    margin-top: 20px;
}

.resetButton{
    text-align: center;
    background-color: #ff4da0;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resetButton:hover{
    background-color: #fd73b4;
}
