.text{
    max-width: 40ch;
    font-size: medium;
}

.setPassButton{
    text-align: center;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.setPassButton:hover{
    background-color: #adff2f;
}
.setPassContainer{
    text-align: center;
    margin-top: 20px;
}
.pfp{
    width: 100%;
    max-width: 20vw;
    max-height: 75px;
    display: block;
    border-radius: 50%;
}
.pfpDiv{
    margin-left: 20px;
    justify-items: center;
}

.pfpDiv p{
    size: 20vmax;
    margin: 0px;
}