.text{
    max-width: 40ch;
    font-size: medium;
}

.setPassButton{
    text-align: center;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.setPassButton:hover{
    background-color: greenyellow;
}
.setPassContainer{
    text-align: center;
    margin-top: 20px;
}
