/*.profile-page {
  display: flex;
  height: 100vh;
}

.profile-content {
  flex: 1;
  padding: 2rem;
  background: linear-gradient(
    to bottom right,
    rgb(107, 145, 200),
    rgb(77, 79, 138),
    rgb(62, 66, 108),
    rgb(95, 44, 97)
  );
  color: white;
  border-radius: 10px;
  overflow: auto;
}

.profile-content label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.profile-content input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}*/
